.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% 100%;
    width: 20px;
    height: 22px;
}

.icon-video {
    background-image: url(../assets/icon/video.png);
}

.icon-folder {
    background-image: url(../assets/icon/folder.png);
    width: 25px;
    height: 22px;
}

.icon-pdf {
    background-image: url(../assets/icon/pdf.png);
}

.icon-zip {
    background-image: url(../assets/icon/zip.png);
    width: 23px;
}

.icon-img {
    background-image: url(../assets/icon/img.png);
}

.icon-octet-stream {
    background-image: url(../assets/icon/octet-stream.png);
}

.icon-ttf {
    background-image: url(../assets/icon//ttf.png);
}

.icon-music {
    background-image: url(../assets/icon/music.png);
}

.icon-unknown {
    background-image: url(../assets/icon/unknown.png);
}